<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/my_reset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <title>여행기록</title>
  </head>
  <body>
    <%- include('header.ejs') %>

    <main class="mw">
      <section class="banner">
        <span>여행 목록</span>
        <i class="fa-sharp fa-solid fa-plane"></i>
      </section>
      <section class="sec1">
        <div class="category">
          <a class="cate_btn btn_all on" data-name="all" href="/">전체</a>
          <a class="cate_btn btn_korea" data-name="korea" href="/korea">국내</a>
          <a class="cate_btn btn_global" data-name="global" href="/global"
            >해외</a
          >
        </div>
        <div class="search_con">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            placeholder="나라 or 도시를 검색하세요"
            id="search"
          />
        </div>
      </section>
      <section class="sec2">
        <ul class="travel">
          <% for ( list in post ){ %>
          <li
            class="travel_list"
            data-category="<%= post[list].postCategory %>"
          >
            <img src="/public/img/greece.jpg" alt="greece" />
            <div class="travel_title">
              <p><%= post[list].postTitle %></p>
              <div class="travel_info">
                <span><%= post[list].postCountry %></span>
                <span><%= post[list].postDate %></span>
              </div>
            </div>
            <a href="/detail/<%= post[list]._id %>"></a>
          </li>
          <% } %>
        </ul>
        <div class="more">
          <button class="btnmore" data-name="plus">더보기</button>
        </div>
      </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
      $(".delete").click(function (e) {
        let num = e.target.dataset.id;
        $.ajax({ method: "DELETE", url: "/delete", data: { _id: num } })
          .done(function (result) {
            $(e.target).parent("li").fadeOut();
          })
          .fail(function (xhr, textStatus, errorThrown) {
            console.log(xhr, textStatus, errorThrown);
          });
      });
    </script>

    <script src="/public/js/script.js"></script>
  </body>
</html>
